@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h4>Avaliação Técnica</h4>
    <p class="text-introduction">
        <b>Introdução</b>
        <br />
        <br />
        O candidato(a) deve desenvolver a avaliação utilizando a linguagem C# e JavaScript (ou TypeScript) e pode optar por utilizar o .NET Framework clássico, ASP.NET WebAPI  2 e AngularJS ou  .NET Core (seja no Core ou Full Framework) , ASP.NET MVC Core e Angular 2+, sendo livre para implementar o que julgar necessário, como DDD, ORM, IoC, logging, testes automatizados, etc.
        Também é desejável (porém não obrigatório) que seja enviado um arquivo texto (README.md) com um breve descritivo das decisões tomadas (ex.: motivação para a arquitetura escolhida no projeto), para que possamos entender melhor como a solução foi desenvolvida.
        Vamos avaliar os seguintes pontos de cada exercício:
        <br />
        <ul>
            <li>Arquitetura da solução;</li>
            <li>Organização do projeto;</li>
            <li>Clareza do código;</li>
            <li>Documentação;</li>
            <li>Desempenho da aplicação;</li>
            <li>Testes automatizados;</li>
        </ul>
    </p>
</div>

<div class="row">

</div>